Black_Knight_Aut_System_HOST=127.0.0.1
Black_Knight_Aut_System_PORT=8888
Black_Knight_Aut_System_LOG_LEVEL=INFO
Black_Knight_Aut_System_SOCKET_TIMEOUT_SEC=5.0
Black_Knight_Aut_System_MAX_BUFFER_BYTES=262144
